<?xml version="1.0" encoding="utf-8" ?>
<TCSmartFramework.DataAccess name="TCD0000009">
  <Database name="BenqOA">
    <read>
      <server enabled="true" connectionString="Data Source=THOMSON-PC\SQLEXPRESS; Database=BenqOA;User ID=sa;Password=123" />
    </read>
    <write>
      <server enabled="true" connectionString="Data Source=THOMSON-PC\SQLEXPRESS; Database=BenqOA;User ID=sa;Password=123" />
    </write>
  </Database>
</TCSmartFramework.DataAccess>
