@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CategoryNav/CategoryNav.css" rel="stylesheet" />
<link href="~/Content/LunBo/lunbo.css" rel="stylesheet" />
<script src="~/Content/LunBo/lunbo.js"></script>

@section modalLayer{
<!-- Modal登录注册模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel"><strong>登 录</strong></h3>
      </div>
      <div class="modal-body">
          <div class="input-group input-group-lg">
              <div class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></div>
              <input type="text" class="form-control" id="email" placeholder="邮箱">
          </div>
          <div class="input-group input-group-lg mgtop20">
              <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
              <input type="password" class="form-control" id="password" placeholder="密码">
              <div class="input-group-btn"><button class="btn btn-success" type="submit" onclick="Login()">确定</button></div>
        </div>
      </div>
        <div class="modal-footer patop20 pabottom20 mgright10">
            <a href="home/forgetPassword" class="mgright20">忘记密码？</a>
            <a href="home/register" class="">注册</a>
        </div>
        
    </div>
  </div>
</div>
}

@section search{
    <div class="input-group input-group-lg search">
        <input type="text" class="form-control" id="search" placeholder="请输入..">
        <div class="input-group-btn"><button class="btn btn-success" type="submit" onclick="Search()"><i class="fa fa-search fa-fw"></i> 搜索</button>
        </div>
    </div>
}
<!--左侧分类导航-->
@section nav{
<div class="category-list_box">
        <ul class="category-nav-sort">
            <li>
                <h3><a href="#">前后端模版</a>
                </h3>
                <a href="#">前端UI</a>
                <a href="#">后端</a>
                <a href="#">其他模板</a>
                <a href="#">你猜</a>
            </li>
            <li>
                <h3><a href="#">UI</a>
                </h3>
                <a href="#">输入</a>
                <a href="#">界面UI</a>
                <a href="#">弹窗</a>
                <a href="#">前端UI</a>
                <a href="#">后端</a>
            </li>
            <li>
                <h3><a href="#">前后端模版</a>
                </h3>
                <a href="#">前端</a>
                <a href="#">后端</a>
                <a href="#">其他</a>
                <a href="#">前端UI</a>
                <a href="#">后端</a>
            </li>
            <li>
                <h3><a href="#">前后端模版</a>
                </h3>
                <a href="#">前端</a>
                <a href="#">后端</a>
                <a href="#">其他</a>
                <a href="#">前端UI</a>
                <a href="#">后端</a>
            </li>
            <li>
                <h3><a href="#">前后端模版</a>
                </h3>
                <a href="#">前端</a>
                <a href="#">后端</a>
                <a href="#">其他</a>
                <a href="#">前端UI</a>
                <a href="#">后端</a>
            </li>
        </ul>
    </div>
}

<!--轮播图片-->
@section lunBo{
    <div class="out">
	<ul class="img">
		<li><a href="#"><img width="100%" height="350" src="/Content/LunBo/img/1.jpg" alt=""></a></li>
		<li><a href="#"><img width="100%" height="350" src="/Content/LunBo/img/2.jpg" alt=""></a></li>
		<li><a href="#"><img width="100%" height="350" src="/Content/LunBo/img/3.jpg" alt=""></a></li>
		<li><a href="#"><img width="100%" height="350" src="/Content/LunBo/img/4.jpg" alt=""></a></li>
		<li><a href="#"><img width="100%" height="350" src="/Content/LunBo/img/5.jpg" alt=""></a></li>
		<li><a href="#"><img width="100%" height="350" src="/Content/LunBo/img/6.jpg" alt=""></a></li>
	</ul>
	<ul class="num">
		<!--底部数字栏-->
	</ul>
	<div class="left btn"><</div>
	<div class="right btn">></div>
</div>
}
<!--右侧快速选择-->
@section fastCategory{
    <ul class="list-group mgtop10">
        <a href="#" class="list-group-item"><i class="fa fa-calendar">&nbsp; 最新发布</i></a>
        <a href="#" class="list-group-item"><i class="fa fa-star">&nbsp; 最多收藏</i></a>
        <a href="#" class="list-group-item"><i class="fa fa-comments">&nbsp; 最多评价</i></a>
        <a href="#" class="list-group-item"><i class="fa fa-arrow-circle-o-down">&nbsp; 最多下载</i></a>
        <a href="#" class="list-group-item"><i class="fa fa-leaf"></i>&nbsp; 免费下载</a>
    </ul>
}

<!--主体-->
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="http://www.jq22.com/jquery-info6212" target="_blank">
        <img src="http://assets.jq22.com/plugin/2016-03-10-23-03-26.png">
    </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="http://www.jq22.com/jquery-info6212" target="_blank">
        <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
    </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="http://www.jq22.com/jquery-info6212" target="_blank">
        <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
    </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="http://www.jq22.com/jquery-info6212" target="_blank">
        <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
    </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="http://www.jq22.com/jquery-info6212" target="_blank">
        <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
    </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="http://www.jq22.com/jquery-info6212" target="_blank">
        <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
    </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="http://www.jq22.com/jquery-info6212" target="_blank">
        <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
    </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="http://www.jq22.com/jquery-info6212" target="_blank">
        <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
    </a>
</div>

<!--分页-->
@section Pagination{
<nav class="pagiStyle">
    <ul class="pagination pagination-lg ">
            <li><a href="#">首页</a></li>
            <li>
                <a href="#" aria-label="Previous">
                    @*<span aria-hidden="true">&laquo;</span>*@
                    <span aria-hidden="true">&laquo;上页</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#">...100</a></li>
            <li>
                <input type="text" class="form-control input-lg" placeholder="" style="width: 50px;">
                <span>/100</span>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    @*<span aria-hidden="true">&raquo;</span>*@
                    <span aria-hidden="true">下页&raquo;</span>
                </a>
            </li>
            <li><a href="#">末页</a></li>
        </ul>
</nav>
    
}

<script type="text/javascript">
    $("#email").removeClass("loginTips");
    $("#email").removeClass("loginShake");
    function Login() {
        $("#email").addClass("loginTips"); 
        $("#email").addClass("loginShake");
    }
</script>
