@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-10-23-03-26.png">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
     <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
</div>

<!--分页-->
<div class="row">
    <form class="form-inline">
        <div class="form-group">
        <nav class="pagiStyle">
            <ul class="pagination pagination-lg">
                <li><a href="#">首页</a></li>
                <li>
                    <a href="#" aria-label="Previous">
                        @*<span aria-hidden="true">&laquo;</span>*@
                        <span aria-hidden="true">&laquo;上页</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">...100</a></li>
                <li>
                    <input type="text" class="form-control input-lg" placeholder="" style="width: 50px;">
                    <span>/100</span>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        @*<span aria-hidden="true">&raquo;</span>*@
                        <span aria-hidden="true">下页&raquo;</span>
                    </a>
                </li>
                <li><a href="#">末页</a></li>
            </ul>
      </nav>
      </div>
    </form>
</div>

   
