@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-10-23-03-26.png">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
     <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://www.jq22.com/jquery-info6212" target="_blank">
            <img src="http://assets.jq22.com/plugin/2016-03-09-14-03-25.jpg">
        </a>
    </div>

   
