<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Initial Catalog值必须设为master-->
    <add name="MetaDataDB" connectionString="Data Source=THOMSON-PC\SQLEXPRESS;Initial Catalog=master;User ID=sa;Password=123;MultipleActiveResultSets=True"></add>
    <add name="BenqOA" connectionString="Data Source=THOMSON-PC\SQLEXPRESS;Initial Catalog=master;User ID=sa;Password=123;MultipleActiveResultSets=True"></add>
  </connectionStrings>
  <appSettings>
    <add key="using" value="Cool.DalLibrary"/>
    <add key="BenqOA_CurrentDbName" value="BenqOA"/>
  </appSettings>
</configuration>