body {
    padding-top:50px;
    padding-bottom:30px;
}

.col-lg-4 {
     padding-left: 0; 
}


.footer {
    height:30px;
    padding-left:30%;
    margin-top:50px;
}

.footer li {
    line-height: 32px;
    color: #939393;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    border:0;
    border-radius:5px;
}

.col-md-4 {
    margin-bottom:20px;
}

.col-md-4 img {
    width:100%;
    background-color: #FFF;
    border-radius: 5px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.18);*/
    position: relative;
}
.pagiStyle {
    padding-left:15px;
       
}

/*分页插件输入框*/
.pagiStyle ul > li > input{
	vertical-align: top;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height:auto;
	*height: 20px;
	margin-bottom:0px;
	background-color: #fff;
	border-left-width: 0;
	width:50px;
	float:left;
	min-height: auto;
	*min-height: 20px;
}


/*登录提示*/
.loginTips {
    background-color: rgb(255, 223, 223);
}


/*输入框抖动效果*/
.loginShake {
    -webkit-animation: loginShake 0.5s .2s ease both;
    -moz-animation: loginShake 0.5s .2s ease both;
}

@-webkit-keyframes loginShake {
    0%,100% {
        -webkit-transform: translateX(0);
    }

    10%,30%,50%,70%, 90% {
        -webkit-transform: translateX(-5px);
    }

    20%,40%,60%,80% {
        -webkit-transform: translateX(5px);
    }
}

@-moz-keyframes loginShake {
    0%,100% {
        -moz-transform: translateX(0);
    }

    10%,30%,50%,70%, 90% {
        -moz-transform: translateX(-5px);
    }

    20%,40%,60%,80% {
        -moz-transform: translateX(5px);
    }
}

.register {
    width: 500px;
    margin-top:60px;
}

/*搜索栏*/
.search {
    width:550px;
    margin:15px auto 10px;
}