body {
    padding-top:50px;
    padding-bottom:30px;
}

.col-lg-4 {
     padding-left: 0; 
}


.footer {
    height:30px;
    padding-left:30%;
    margin-top:50px;
}

.footer li {
    line-height: 32px;
    color: #939393;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    border:0;
    border-radius:5px;
}

.col-md-4 {
    margin-bottom:20px;
}

.col-md-4 img {
    width:100%;
    background-color: #FFF;
    border-radius: 5px;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.18);*/
    position: relative;
}
.pagiStyle {
    padding-left:15px;
       
}

/*分页插件输入框*/
.pagiStyle ul > li > input{
	vertical-align: top;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height:auto;
	*height: 20px;
	margin-bottom:0px;
	background-color: #fff;
	border-left-width: 0;
	width:50px;
	float:left;
	min-height: auto;
	*min-height: 20px;
}


/*登录提示*/
.loginTips {
    background-color: rgb(255, 223, 223);
}


/*输入框抖动效果*/
.loginShake {
    -webkit-animation: loginShake 0.5s .2s ease both;
    -moz-animation: loginShake 0.5s .2s ease both;
}

@-webkit-keyframes loginShake {
    0%,100% {
        -webkit-transform: translateX(0);
    }

    10%,30%,50%,70%, 90% {
        -webkit-transform: translateX(-5px);
    }

    20%,40%,60%,80% {
        -webkit-transform: translateX(5px);
    }
}

@-moz-keyframes loginShake {
    0%,100% {
        -moz-transform: translateX(0);
    }

    10%,30%,50%,70%, 90% {
        -moz-transform: translateX(-5px);
    }

    20%,40%,60%,80% {
        -moz-transform: translateX(5px);
    }
}

.register {
    width: 500px;
    margin-top:60px;
}

/*搜索栏*/
.search {
    width:550px;
    margin:15px auto 10px;
}

.detail {
    /*background: #EDEDED;*/
    margin-top:20px;
    margin-bottom:50px;
}

.detailHeader {
    padding:20px 15px 0;
    background: #F9F9F9;
}

.detailHeader h1 {
    font-size:28px;
    margin-top:0;
}

.detailHeader p {
    color:#696969;
}

.detailTitle {
    padding:0 0 10px;
}

.detailLove span {
    border-right: 1px solid #ffffff; 
    display: inline-block; 
    height: 20px; 
    line-height: 20px; 
    margin-right: 10px; 
    padding-right: 10px;
    margin-bottom:20px;
}

.detailContent {
     /*background-color: #ECEFF4;*/
     border: 1px solid #EDEDED;
     padding-top: 30px; 
     padding-right: 5%; 
     padding-left: 5%; 
     padding-bottom: 15px; 
}

.detailImg {
     max-width:100%;
     border-radius: 10px;
     width: 100%; 
     margin-bottom: 20px; 
     text-align: center; 
}

.author h6 {
    margin-top: 0;
    color: #A7A7A7; 
}

.author img{
     display: block; 
     margin-right: 10px; 
     width: 50px; 
     height: 50px; 
     border-radius: 50px; 
     float:left 
}

.author h4{ 
    font-size: 14px; 
    padding-top: 0; 
    padding-top: 12px; 
}

.btnAuthor {
    color: #333; 
    background-color: #fff; 
    border-color: #ccc; 
    width: 100%;
}

.viewOrDownLoad {
    width: 100%; 
    border-radius: 4px; 
    text-align: center

}

.viewOrDownLoad a {
    width: 20%; 
    margin-left: 1%; 
    margin-right: 1%; 
    font-size: 1.5em; 
    line-height: 40px; 
}

.pluginDescription {
     color: #5E5E5E; 
     background-color: #F9F9F9; 
     padding:15px;
     margin-top:15px;
}

.pluginDescriptionDetail {
    margin-top:15px;
    margin-bottom:15px;
}

.discussProject {
    margin:15px 0;
    border-top: 1px solid #e8e8e8;
    /*border-bottom: 1px solid #e8e8e8;*/
}

 .submitDiscussForm {
     /*float: right;*/  /*浮动会影响位置*/
     margin-top:-10px;
     text-align: right;
 }
