@{
    ViewBag.Title = "详情";
    Layout = "~/Views/Shared/_LayoutForNull.cshtml";
}

<div class="detail">
    <div class="detailHeader">
        <h1 id="detailTitle">jquery轮播图片</h1>
        <p>所属分类-图片插件</p>
        <div class="detailLove">
            <span><i class="fa fa-eye"></i>  &nbsp;824 </span>
            <span><i class="fa fa-heart"></i>  &nbsp;824 </span>
            <span><i class="fa fa-comment"></i>  &nbsp;824 </span>
        </div>
    </div>
    <div class="detailContent">
        
    </div>
</div>
